<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="ftr">ROOFING CONCEPTS UNLIMITED</span>
          </a>
          <p>South Florida’s premier roofing company for commercial roofing, roof maintenance, and re-roofing..</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>RESOURCES</h4>
          <ul>
            <li><a href="#">Roof Repairs</a></li>
            <li><a href="#">Roof Maintenance</a></li>
            <li><a href="#">Roof Replacement </a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>CONTACT INFO</h4>

          <p class="my-3"><strong><i class="fa fa-phone"></i> </strong> <span>954-786-9350</span></p>
          <p class="my-3"><strong><i class="bi-geo-alt-fill"></i> </strong><span>11820 NW 41st Street Coral Springs, FL 33065</span></p>
          <p class="my-3"><strong><i class="bi-envelope-open-fill"></i> </strong><span>Send Us An Email</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>© 2023 Copyright</span> <strong class="px-1"> by </strong> <span>Roofing Concepts Unlimited</span></p>
      <div class="credits">
        
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!--  Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>