{% include header.html %}
  <main id="main">
    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="assets/img/home.png" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100" class="font-s1">{{ page.top_heading }}</h2>
            <p data-aos="fade-up" data-aos-delay="200" class="mt-4">{{ page.top_heading_description }}</p>
          </div>
          <div class="col-lg-5 mt-4">
            <button type="button" class="btn btn-custom">SCHEDULE CONSULTATION
              <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;"></i>
            </button>
            <button type="button" class="btn btn-transparent">
              LEARN MORE ABOUT US
              <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;"></i>
            </button>  
          
          </div>
        </div>
      </div>

    </section>
    <!-- End Hero Section -->
              <!-- Faq Section - Home Page -->
              <section id="faq" class="faq">
                <div class="container">
                  <div class="row gy-4">
                    <div class="col-sm-7" data-aos="fade-up" data-aos-delay="200">
                      <div class="faq-container">
                        <p class="theme_clr">Learn more about who we are</p>
                        <h2 class="fw-500">Professional Commercial Roofing Contractor In South Florida</h2>
                        <p class="f-small">Roofing Concepts Unlimited/Fl, Inc. is a family-owned and operated business established in 1961 in Chicago, Illinois, with the Florida location opening in 1992. We provide complete roofing and sheet metal installation service and can work on all types of structures, including high-rise buildings. We specialize in servicing commercial, industrial, and institutional properties. Our affiliate company Roof Doctors South Florida, Inc., offers complete roof repair, service, and structured annual maintenance and inspection programs for commercial roof assets.</p>
                        <p class="f-small">When you need new roofing, repair sheet metal, or waterproofing services, you can count on our team of highly trained and experienced roofers. We pride ourselves in providing our clients with cost-effective alternates to complete roof replacement and can usually bid on any such work at a moment’s notice.</p>
                        <button type="submit" class="btn btn-s2 mt-3">MEET YOUR RCU TEAM
                          <i class="fa fa-arrow-circle-right mx-1 fs"></i>

                        </button>
                      </div>
                    </div>
                    <div class="col-sm-5" data-aos="fade-up" data-aos-delay="100">
                      <div class="content px-xl-5">
                        <div class="flex-column shadow bg-white rounded position">
                          <h5 class="form-heading text-center">Reach Out To Us For A Free Consultation</h5>
                          <p>
                            <form action="" method="post" class="p-3">
                              <!-- Name input -->
                              <div class="form-outline mb-4">
                                <input type="text" id="form4Example1" placeholder="Full Name" class="clr-placeholder form-control" />
                              </div>
                              
                              <!-- Email input -->
                              <div class="form-outline mb-4">
                                <input type="email" id="form4Example2" placeholder="Phone Number" class="clr-placeholder form-control" />
                              </div>
                              
                              <div class="form-outline mb-4">
                                <input type="text" id="form4Example1" placeholder="Email Address" class="clr-placeholder form-control" />
                              </div>
                              
                              <!-- Message input -->
                              <div class="form-outline mb-4">
                                <textarea class="clr-placeholder form-control" id="form4Example3" placeholder="Share Some Details With Us Here" rows="4"></textarea>
                              </div>
                              <!-- Submit button -->
                              <button type="submit" class="btn btn-submit">SUBMIT
                                <i class="fa fa-arrow-circle-right mx-1 fs"></i>
                              </button>
                            </form>
                          </p>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            <!-- End Faq Section -->

        <!-- Services Section - Home Page -->
        <section id="services" class="services">
         
          <!-- End Section Title -->
          <div class="container">
            <div class="row gy-4">
              <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
                <video class="vw-width" id="background-video" autoplay loop muted poster="assets/img/video-image.png">
                  <source src="assets/img/video-image.png" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </section>
        <!-- End Services Section -->

    <!-- Clients Section - Home Page -->
    <section id="clients" class="clients">

      <div class="container-fluid" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/feature-1.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/feature-2.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/feature-3.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/feature-4.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/feature-5.png" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/feature-7.png" class="img-fluid" alt="">
          </div>

         
          
          <!-- End Client Item -->

        </div>

      </div>

    </section>
    <!-- End Clients Section -->



    <!-- About Section - Home Page -->
    <section id="about" class="about">

      <div class="container">
        <div class="row my-5">
            <div class="col-md-5 mt-4">
              <p class="theme_clr text-center">Find Out What We Can Do</p>
              <h3 class="text-light bold">Our Premier South Florida Commercial Roofing Services</h3>
            </div>
            <div class="col-md-7">
              <p class="port-ft-about text-light">What roofing problem can we solve for you? At RCU, we will handle your roofing project – no matter what the size! We can offer you a full roof replacement from the deck on up, but we will also help you squeeze a few more years out of your old roof until you can budget for replacement..</p>
              <p class="text-light f-13">Roofing Concepts Unlimited specializes in the following types of roof systems and services</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card hgt">
              <img src="assets/img/repainre.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
              <div class="card-body">
                <h5 class="card-title bold">Roof Repairs</h5>
                <p class="card-text f-10">
                  RCU‘s affiliate company, Roof Doctors, provides emergency leak repair service 24 hours per day, seven days per week. Whether your problem is a small leak or major roof system damage, RCU/RDSF will send an experienced, efficient service team to find the problem and keep water out of your building!..
                </p><br/>
                <div class="theme_clr float-right">ROOF REPLACEMENT INFO
                  <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;color:#D31145"></i>
                </div>
              </div>

            </div>
          </div>
          <div class="col">
            <div class="card hgt">
              <img src="assets/img/replacement.png" class="card-img-top" alt="Palm Springs Road"/>
              <div class="card-body">
                <h5 class="card-title bold">Roof Replacement</h5>
                <p class="card-text f-10">
                  RCU is a top-quality roofing contractor offering re-roofing, roof repair, and roof maintenance to commercial, industrial, and institutional customers in the tri-county area. We roof buildings for Fortune 500 companies, municipalities, and property management companies, as well as shopping centers, schools, condominiums, and manufacturing facilities...
                </p>
                <div class="theme_clr float-right">ROOF REPLACEMENT INFO
                  <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;color:#D31145"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card hgt">
              <img src="assets/img/maintenence.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
              <div class="card-body">
                <h5 class="card-title bold">Roof Maintenance</h5>
                <p class="card-text f-10">RCU believes that the most effective way to keep a roof performing for a long period of time is for the building owner to have a formal, long-term relationship with a professional roofing contractor. We understand different roof systems and our years of experience mean we can recommend which type of system is best for a particular building...</p>
                <div class="theme_clr float-right">ROOF REPLACEMENT INFO
                  <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;color:#D31145"></i>
                </div>
              </div>
            </div>
          </div>
         
        </div>
    </div>

    </section>
    <!-- End About Section -->


        <!-- Features Section - Home Page -->
        <section id="features" class="features">
          <!--  Section Title -->
          
          <!-- End Section Title -->
          <div class="container">
            <div class="row gy-2 align-items-center features-item">
              <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <img class="vw-width-img" src="assets/img/roof-img.png">
                <h2 class="fw pos-head">Check The Heartbeat of Your Existing Roof</h2>
                <p>
                  Our affiliate company, Roof Doctors, is a Roof Repair And Maintenance Company that has its fingers on the pulse of your roof. With 24-hour emergency services and a maintenance program that will handle your roofing project and treat, cure, diagnose, and prevent any problems your roof might suffer from – no matter the size, scale, or scope!
                </p>
                <button class="btn btn-get-start align-self-start mt-3">MEET ROOF DOCTORS
                  <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;"></i>
                </button>
              </div>
              <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-start" data-aos="zoom-out" data-aos-delay="100">
                <div class="image-stack posim">
                  <!-- <img src="assets/img/roof.png" alt="" class="stack-front"> -->
                  <img src="assets/img/roof.png" alt="" class="vw-stack-back-img">
                </div>
              </div>
            </div><!-- Features Item -->
    
            <div class="row features-item ">
    
              <div class="col-md-6 d-flex flex-column" data-aos="fade-up">
                <p class="theme_clr">Why Should You choose Us?</p>
                <h2 class="fw pos-head">Choose RCU For All Your Commercial Roofing Needs In South Florida</h2>
                <p>At the end of the day, building owners and property managers in the South Florida area need a roofing company to keep water out of their buildings — and they’ve been trusting Roof Concepts Unlimited since 1992. We are well-recognized in the tri-county area as a premier provider of superior roofing services and systems. Each member of our team is dedicated to top-quality workmanship, and that means a safe and efficient delivery of service..</p>
                <p>We know better than anyone how important and complex it is to stay on top of changes in the roofing industry. Everything has changed from waterproofing to adhesives and roofing materials since we started, and they continue to change. Today, we maintain expertise in all new synthetic materials, chemical compounds, and equipment technology. In addition, we train our employees on safety and customer service, making our business a leader in the industry for three generations.</p>
                <p>Whether you already have water in your building or want to make sure that you never do, Roofing Concepts Unlimited will help you find the right roofing solution for your building – we guarantee it.</p>
                <button class="btn btn-get-start align-self-start">SCHEDULE CONSULTATION
                  <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;"></i>
                </button>
                
              </div>
              <div class="col-md-6 features-img-bg" data-aos="zoom-out">
                <img src="assets/img/florida.png" class="img-fluid res" alt="">
              </div>
            </div>
            <!-- Features Item -->
    
          </div>
    
        </section>
        <!-- End Features Section -->

    <!-- Stats Section - Home Page -->
    <section id="stats" class="stats">
      <img src="assets/img/cards/background.png" alt="" data-aos="fade-in">
      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
         <div class="col-md-6">
            <p class="theme_clr text-center">Read our testimonials</p>
            <h2 class="bold">What Our Clients Are Saying</h2>
            <p class="strive">We strive to create lasting relationships with our clients, built on trust and consistent quality. But don’t take our word for it. Read some of our client testimonials.</p>
            <button class="btn btn-reviews strive">READ MORE REVIEWS
              <i class="bi bi-arrow-right"></i>
            </button>
         </div>
         <div class="col-md-6 pos">
          <p class="ml-20">
            <div class="stars">
              <i class="bi bi-star-fill color"></i> <i class="bi bi-star-fill color"></i> <i class="bi bi-star-fill color"></i> <i class="bi bi-star-fill color"></i> <i class="bi bi-star-fill color"></i>
            </div>
            <i class="fa fa-quote-left mx-2 clear"></i>
            <p class="my-3"> I highly recommend RCU Roofing Contractor for any roofing projects, whether residential or commercial. Their attention to detail and commitment to customer satisfaction are truly top-notch. Thank you, RCU Roofing Contractor, for a job well done!”.</p>
            <h5>Ricardo Moncada</h5>

            <div class="mt-3">
              <i class="fa fa-arrow-circle-left mx-1 fs"></i>
              <i class="fa fa-arrow-circle-right mx-1 fs"></i>
            </div>
          </p>
         </div>
           
       
        </div>

      </div>

    </section>
    <!-- End Stats Section -->


      <!-- New Team Section - Home Page -->

        <section id="mission" class="mission">
          <!--  Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Our Mission</h2>
            <p>Our mission is to provide unequaled roofing, sheet metal and maintenance service through.</p>
          </div>
          <!-- End Section Title -->
          <div class="container">
            <div class="row gy-5">
              <div class="col-md">
                <p class="mission-fw theme_clr_bag">Satisfying customer needs through teamwork, innovation and commitment to quality at every level.</p>
              </div>
              <div class="col-md">
                <p class="mission-fw theme_clr_bag">Maintaining a safe and productive work environment
                  .</p>
              </div>
              <div class="col-md">
                <p class="mission-fw theme_clr_bag">Grow around our founding principles of integrity, fairness and total commitment to our clients.</p>

              </div>
              <div class="col-md">
                <p class="mission-fw theme_clr_bag">Pursue opportunities for corporate and personal growth.</p>

              </div>
              <div class="col-md">
                <p class="mission-fw theme_clr_bag">Provide insightful industry leadership continually focused on the future.</p>
              </div>
              <div class="col-md">
                <p class="mission-fw theme_clr_bag">Provide insightful industry leadership continually focused on the future.</p>
              </div>
            </div>
          </div>
    
        </section>
      <!-- End New Team Section -->



    <!-- Portfolio Section - Home Page -->
    <section id="portfolio" class="portfolio">
      <!-- End Section Title -->
      <div class="container">
          <div class="row my-4">
              <div class="col-md-6">
                <p class="theme_clr mx-5">Guidelines We Live By</p>
                <h4>5 Pillars of Excellence That Help Us Stand Out</h4>
              </div>
              <div class="col-md-6">
                <p class="port-ft">Everyone knows the importance of choosing a good roofing contractor. But, not many people know how to find this kind of expert. Since your roof is a big investment, you can’t trust just anyone to handle it. When shopping for a contractor, you’ll come across many roofers who claim to be the best.  It’s up to you to choose the contractor you feel confident about.</p>
              </div>
          </div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card hgt">
                <img src="assets/img/cards/services.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                <div class="card-body">
                  <h5 class="card-title bold">Service</h5>
                  <p class="card-text f-10">
                    A good roofing contractor will be judged by the kind of service they offer. Find out if the contractor handles the job with exceptional customer service. A reliable contractor should also have a reputation of doing things right the first time. You need to be guaranteed of quality service from the beginning to the end. The best contractors will offer all their clients unmatched services regardless of the size of their project..
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card hgt">
                <img src="assets/img/cards/people.png" class="card-img-top" alt="Palm Springs Road"/>
                <div class="card-body">
                  <h5 class="card-title bold">People</h5>
                  <p class="card-text f-10">
                    You’ll know you have the right contractor if they have a team of skilled experts who are experienced in handling various roofing issues. Know the kind of people you are hiring for the job. Do they treat property owners with utmost respect? Do they value your property? A good team of roofing contractors will be easy to work with and also make the entire experience worthwhile. You also need to be confident that they’ll always be in a position to communicate with you regarding the project whenever you contact them..
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card hgt">
                <img src="assets/img/cards/community.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
                <div class="card-body">
                  <h5 class="card-title bold">Community</h5>
                  <p class="card-text f-10">The best roofing companies are involved in community service. This certainly shows their level of commitment in the area where you live and their willingness to help residents in more ways than one. Find out if your roofer supports any local organizations. It may not look like an important detail but it will raise your confidence in the contractors you consider hiring..</p>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col">
              <div class="card hgt">
                <img src="assets/img/cards/stability.png" class="card-img-top" alt="Skyscrapers"/>
                <div class="card-body">
                  <h5 class="card-title bold">Stability</h5>
                  <p class="card-text f-10">
                    Most importantly, hire a roofing company that is well established in your area. Whenever a natural disaster strikes and many property owners are in need of roofing repairs and replacements, you will find roofers from other regions coming to your town to offer you their services. Such ‘storm chasers’ are not the best people to hire since they’ll be long gone whenever a roofing issue arises and you need them to redo the work. It’s always best to go with a roofing company which you are guaranteed will be around even after the storm is over. Well established roofing firms also have the required experience, licensing and insurance to offer credible roofing jobs..
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card hgt">
                <img src="assets/img/cards/groth.png" class="card-img-top" alt="Skyscrapers"/>
                <div class="card-body">
                  <h5 class="card-title bold">Growth</h5>
                  <p class="card-text f-10">
                    Your contractor is more likely to offer unmatched services if they have been in the business for many years. Roofers who understand the roofing issues that are common in your community are best suited for this kind of work. Hiring a company or contractor that is still new in your area is a huge risk.
                    Whether you are planning on constructing a new property or you want some repairs done in your home, take your time to find a credible roofer. Roofing mistakes are costly and only an unqualified person is likely to commit them.
                  </p>
                </div>
              </div>
            </div>


          </div>
      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- Pricing Section - Home Page -->
    <section id="pricing" class="pricing">
      <!--  Section Title -->
      <!-- End Section Title -->
      <div class="container-fluid" data-aos="zoom-in" data-aos-delay="100">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="assets/img/f-1.png" class="card-img-top" alt="Skyscrapers"/>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/img/f-2.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/img/f-3.png" class="card-img-top" alt="Palm Springs Road"/>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="assets/img/f-1.png" class="card-img-top" alt="Palm Springs Road"/>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button type="button" class="btn btn-gallary">VIEW FULL GALLERY
            <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;"></i>
          </button>
        </div>
      </div>

    </section>
    <!-- End Pricing Section -->



    <!-- Team Section - Home Page -->
    <section id="team" class="team">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Read through some of our frequently asked questions.</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-team">
              <h4 class="fw-600 mb-3">What Are The Signs A Commercial Roof Needs Replacement?</h4>
              <p class="f-clr">If your commercial roof is leaking, it's a clear sign that it needs to be replaced. However, there are other indications that someone with expertise would be able to spot. For instance, blisters or cracks may appear on the roof, indicating that it needs to be replaced. Similarly, if the flashing is damaged or the seals are failing, it's a sign that the roof is nearing the end of its life.</p>
            </div>
            <div class="member-info text-center">
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-team">
              <h4 class="fw-600 mb-3">How Long Does A Commercial Roof Replacement Usually Take?</h4>
              <p class="f-clr">The duration of a commercial roof replacement can vary depending on several factors, including the size of the roof, the complexity of the project, and the weather conditions. In general, a commercial roof replacement can take anywhere from a few days to a few weeks to complete. It's important to consult with a professional roofing contractor who can assess the specific requirements of your commercial roof replacement project and provide you with a more accurate estimate of the time it will take to complete..</p>
            </div>
            <div class="member-info text-center">
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-team">
              <h4 class="fw-600 mb-3">What Is The Lifespan Of A Commercial Roofing System?</h4>
              <p class="f-clr">The lifespan of a commercial roofing system can range from 20 to 50 years, depending on factors such as the type of roofing system employed and the local weather conditions. Regular inspections and ongoing maintenance completed by trained professionals can significantly extend the longevity of commercial roofing systems..</p>
            </div>
            <div class="member-info text-center">
            </div>
          </div><!-- End Team Member -->
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-sec-9">SCHEDULE CONSULTATION
            <i class="fa fa-arrow-circle-right mx-1" style="font-size:20px;"></i>
          </button>
        </div>
      </div>

    </section>
    <!-- End Team Section -->

    <!-- Call-to-action Section - Home Page -->
    <section id="call-to-action" class="call-to-action">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Call To Action</h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="cta-btn" href="#">Call To Action</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Call-to-action Section -->

    <!-- Testimonials Section - Home Page -->
    <section id="testimonials" class="testimonials">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>Testimonials</h3>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper">
              <template class="swiper-config">
                {
                "loop": true,
                "speed" : 600,
                "autoplay": {
                "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
                }
                }
              </template>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Saul Goodman</h3>
                        <h4>Ceo & Founder</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Testimonials Section -->

    <!-- Recent-posts Section - Home Page -->
    <section id="recent-posts" class="recent-posts">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Recent Posts</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">Politics</p>

              <h2 class="title">
                <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">Sports</p>

              <h2 class="title">
                <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article>

              <div class="post-img">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>

    </section><!-- End Recent-posts Section -->

    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>A108 Adam Street</p>
                  <p>New York, NY 535022</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55</p>
                  <p>+1 6678 254445 41</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com</p>
                  <p>contact@example.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday</p>
                  <p>9:00AM - 05:00PM</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main>

  {% include footer.html %}